@charset "ISO-8859-1";


*{
	margin: 0;
	padding: 0;
	text-decoration:none;
	list-style:none;
	box-sizzling: border-box;
}

body{
	font-family:montserrat;
	display:grid;
	min-height: 100vh;
	place-item: center;
}

.center{
	text-align:center;
}

.content1{
	text-align:center;
	color:white;
	margin:100px;
}

.h1{
	font-size:80px;
	font-weight:bold;
	margin-bottom:25px;
	color:white;
	text-align:center;
}

.h2{
	font-size:30px;
	font-weight:semibold;
	margin:10px;
}

.h3{
	font-size:30px;
	font-weight:bold;
	margin:10px;
}

.center{
	align-items:center;
}


/*Products use*/

.container{
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.products{
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.product{
	position: relative;
	background-color: #f7f6f9;
	width: 350px;
	height: 100%;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 20px 40px;
	border-radius: 10px;
	transition: .3s;
}

.product:hover{
	transform: translateY(-15px);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.image{
	width:100%;
	height:60%;
	diplay:grid;
	place-item:center;
}

.image img{
	width: 240px;
}

.namePrice{
	width:100%;
	display:flex;
	justify-content: space-between;
}

.namePrice .pH3{
	font-size: 2em;
	text-transform: capitalize;
	color: black;
}

.namePrice span{
	font-size: 1.5em;
	color: #f67034;
}

.product p{
	font-size: 18px;
	line-weight: 25px;
	color: black;
}

.addtocart{
	position:absolute;
	bottom:20px;
	right:20px;
}

.check {
  display: block;
  position: absolute;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  bottom:25px;
  right:150px;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.check:hover input ~ .checkmark {
  background-color: #ccc;
}

.check input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submitreset{
	width: 100%;
	height: 70%;
	margin: 30px;
}


.submit{
	padding:10px 20px;
	border-radius:7px;
	border:none;
	background-color: #f67034;
	color: #f7f6f9;
	font-size: 18px;
	text-transform:capitalize;
	cursor:pointer;
	transition:.5s;
	margin: 10px;
}

.reset{
	padding:10px 20px;
	border-radius:7px;
	border:none;
	background-color: #f7f6f9;
	color: #000000;
	font-size: 18px;
	text-transform:capitalize;
	cursor:pointer;
	transition:.5s;
	margin:10px;
}

button:hover, .submit:hover{
	transform:scale(1.1);
}



.addtocart label{
	color: #4c4c4c;
	font-size:20px;
	font-weight:600;
	cursor:pointer;
}

/*end of product*/




/*start of navigation and background*/
.banner{
	width:100%;
	height:100%;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	overflow-y: scroll;
}

.logohp{
	margin:10px;
	height: 300px;
	width: 300px;
}

nav{
	background: #926f35;
	height: 80px;
	width: 100%;
}

label.logo{
	color:white;
	font-size:35px;
	line-height:80px;
	padding: 0 30px;
	font-weight: bold;
}

.logonavi{
	margin-top:20px;
	color:white;
	left: 0px;
	width:80px;
	height:80px;
}

.picshome{
	margin-left:10px;
	margin-right:10px;
}

nav ul{
	float:right;
	margin-right:20px;
}

nav ul li{
	display: inline-block;
	line-height:80px;
	margin: 0 5px;
}

nav ul li a{
	color:white;
	font-size:17px;
	padding:4px 13px;
	border-radius: 8px;
	text-transform:uppercase;
}

a.active, a:hover{
	background: #AE8625;
	transition:.5s;
}

.checkbtn{
	font-size : 30px;
	color : white;
	float : right;
	line-height : 80px;
	margin-right : 40px;
	cursor : pointer;
	display : none;
}

#check{
	display : none;
}

@media (max-width : 952px){
	label.logo{
		font-size : 30px;
		padding-left : 16px;
	}
	nav ul li a{
		font-size : 16px;
	}
}

@media (max-width : 858px){
	.checkbtn{
		display : block;
	}
	ul{
		position : fixed;
		width : 100%;
		height : 100vh;
		background : #2c3e50;
		top : 80px;
		left : -100%;
		text-align : center;
		transition : all 0.5s;
	}
	nav ul li{
		display : block;
		margin : 50px 0;
		line-height : 30px;
	}
	nav ul li a{
		font-size : 20px;
	}
	a:hover,a.active{
		background : none;
		color : #0082e6;
	}
	#check:checked ~ ul{
		left : 0;
	}
}

/*end of navigation and background*/

/*contact*/

.container1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
    margin-right: auto;
}

.container1 .box{
	position: relative;
	height: 350px;
	width: 450px;
	padding: 40px;
	background: 0004d;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border-radius: 4px;
	margin: 50px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
} 

.container1 .box .icon{
	 position: relative;
	 width: 80px;
	 height: 80px;
	 color: 0004d;
	 background: 0004d;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 margin: 0 auto;
	 border-radius: 50%;
	 font-size: 60px;
	 font-weight: 700;
	 transition: 1s;
}

.container1 .box:nth-child(1) .icon
{
	box-shadow: 0 0 0 0 #926f35;
	background: #926f35;
}

.container1 .box:nth-child(1):hover .icon
{
	box-shadow: 0 0 0 400px #926f35;
}

.container1 .box:nth-child(2) .icon
{
	box-shadow: 0 0 0 0 #926f35;
	background: #926f35;
}

.container1 .box:nth-child(2):hover .icon
{
	box-shadow: 0 0 0 400px #926f35;
}

.container1 .box:nth-child(3) .icon
{
	box-shadow: 0 0 0 0 #926f35;
	background: #926f35;
}

.container1 .box:nth-child(3):hover .icon
{
	box-shadow: 0 0 0 400px #926f35;
}

.container1 .box .content
{
	position: relative;
	z-index: 1;
	transition: 0.5s;
}

.container1 .box:hover .content
{
	color: #fff;
}